{% extends "base.html" %}

{% block contenido %}
    <div class="container bg-white p-5 rounded shadow-sm">
        <h1 class="display-5 text-primary">Proyecto de Métodos Numéricos</h1>
        <p class="lead">Bienvenido a la herramienta de cálculo. Usa el menú lateral para seleccionar un método.</p>
        <hr>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card border-primary mb-3">
                    <div class="card-body text-primary">
                        <h5 class="card-title"><i class="bi bi-arrow-down-right-circle"></i> Métodos Cerrados</h5>
                        <p class="card-text">Requieren de un intervalo que encierre a la raíz. (Ej: Bisección).</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-success mb-3">
                    <div class="card-body text-success">
                        <h5 class="card-title"><i class="bi bi-arrows-fullscreen"></i> Métodos Abiertos</h5>
                        <p class="card-text">Requieren valores iniciales sin necesidad de encerrar la raíz. (Ej: Newton).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}